.profile {
	&__image {
		&__icon {
			position: absolute;
			bottom: 7px;
			left: 5px;
		}
	}

	&__description {
		p {
			/*white-space: pre-line;*/
		}
	}
}

#newDescription {
	resize: none;
}

.sidenav {
	position: relative;
	height: 100vh;
	width: 600px;
	background-image: url('/assets/images/bg_profile.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	overflow-y: hidden;
	transition: 1s all;

	&--inactive {
		transform: translateX(-450px);
		width: 0px;
	}

	&__toggle {
		position: fixed;
		background-color: #ffffff;
		color: black;
		padding: 5px 10px;
		left: 10px;
		top: 10px;
		z-index: 999;
		transition: .5s all;

		&--open {
			transform: rotate(180deg);
		}
	}

	&__avatar {
		width: 200px;
		height: 200px;
		border: 5px solid white;
		background-color: #43fd9b;
	}

	&__description {
		font-family: 'Montserrat', sans-serif;

		.title {
			font-weight: 700;
			font-size: 26px;
		}
	}
}

.profile {
	&__body {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100vh;
		width: 100%;
		padding: 0 5%;

		&__textarea {
			&__input {
				resize: none;
			}
			&__button {
				background-color: #7cfdad;
				border: #43fd9b;
				transition: .5s all;
				font-weight: 600;

				&:hover {
					background-color: #b5fdc7;
					box-shadow: 0px 4px 17px -15px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.sidenav {
		position: fixed;
		width: 100%;
		z-index: 100;
	}
}
