.navbar-cs {
	width: 75px;
	display: flex;
	position: relative;
	z-index: 100;
	top: 0px;
	right: 0px;
	height: 100vh;


	&__button {
		width: 100%;
		height: 75px;
		cursor: pointer;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:hover {
			background-color: #43fd9b;
			color: #ffffff;
		}
	}
}