.navbar-cs {
	width: 100vw;
	display: flex;
	position: fixed;
	z-index: 100;
	box-shadow: 0px -6px 16px 3px rgba(0,0,0,.5);
	top: 0px;
	background-color: $brand-color;
	height: 50px;

	.container {
		display: flex;
    	justify-content: flex-end;
	}

	&__profile-pic {
		margin-top: 5px;
		display: flex;
		width: fit-content;

		img {
			width: 40px;
			border: 2px solid #ffffff;
			transition: .5s all;

			&:hover {
				filter: grayscale(100%);
			}
		}
	}
}