.post {
	border-color: rgba(0,0,0,0);
  transition: .5s all;
  box-shadow: 0px 10px 20px -9px rgba(0,0,0,.2);
  border-radius: 10px;

	&__avatar {
		max-width: 25px;
	}

	&__likes {
		color: red;
		position: absolute;
		bottom: -15px;
		right: 10px;
	  transition: .5s all;
	  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.2);
	}

	&__delete {
		position: absolute;
		bottom: -15px;
		right: 90px;
		transition: .5s all;
	  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.2);
	}

	&__likes,
	&__delete {
		background-color: #ffffff;
	}
	&:hover {
		box-shadow: 0px 8px 27px -7px rgba(0, 0, 0, 0.2);
		transform: translateY(-5px);
	}
}
