@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.user-card {
  min-height: 200px;
  width: 175px;
  box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.1);
  display: flex;

  &__image {
    box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.1);
    position: absolute;
    width: 75px;
    height: 75px;
    left: 50px;
    top: 15px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px 0px 0px;
    width: 100%;
    margin: 15px 0;

    &__info {
      &__username {
        font-weight: 700;
      }

      &__description {
        max-height: 70px;
        max-width: 270px;
        overflow-y: hidden;
        overflow-wrap: break-word;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .user-card {
    width: 400px;

    &__image {
      width: 150px;
      height: 150px;
      left: -75px;
      top: 25px;
    }

    &__body {
        padding: 0px 30px 0px 100px;
    }
  }
}
