.ya-card {
	background-color: white;
	max-width: 100%;
	padding: 15px;	

	&-header {
		background-color: #eeee;
		min-height: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
	}	
	&-body {
		padding: 10px;
		display: flex;
	}
}