$theme-colors: (
        "brand": #43fd9b
);

@import "node_modules/bootstrap/scss/bootstrap";


@import './pages/Home.scss';
@import './pages/Profile.scss';
@import './components/Post.scss';
@import './components/UserCard.scss';
@import './components/Navbar.scss';
@import './components/DiscoverUser.scss';
@import './components/ProfilePictureModal.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff;
    overflow-x: hidden;
}

.sh-1 {
	box-shadow: 0px 20px 26px -25px rgba(0,0,0,0.5);
}

.cursor-pointer {
	cursor: pointer;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.d-text-underline {
	&:hover {
		text-decoration-line: underline;
	}
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbcbcb;
}

.page {
  padding: 75px 0 0 0;
  min-width: 0;
}

@include media-breakpoint-up(md) {
  .page {
    padding: 0 75px 0 0;
  }
}
