@import './Card.scss';

@import './pages/Home.scss';
@import './pages/Profile.scss';
@import './components/Post.scss';
@import './components/Navbar.scss';
@import './components/DiscoverUser.scss';

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #eeeeee;
    overflow-x: hidden;    
}

.sh-1 {
	box-shadow: 0px 20px 26px -25px rgba(0,0,0,0.5);
}

.cursor-pointer {
	cursor: pointer;
}

.d-text-underline {
	&:hover {
		text-decoration-line: underline;
	}
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.btn {
	border-radius: 0px;
}